###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.idea/

###> pentatrion/vite-bundle ###
/public/build/
###< pentatrion/vite-bundle ###

###> node/pnpm ###
/node_modules/
/.pnpm-store/
/pnpm-lock.yaml
###< node/pnpm ###

/.env.compose.local
