services:
  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    user: "${UID:-1000}:${GID:-1000}"
    environment:
      APP_ENV: dev
